body{
    margin: 0;
}

.wrapper{
   width: 100vw;
   height: 50vh;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A8C4E7;
    box-shadow: 0 0 2px black;
}

@media(max-width: 768px){
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media(max-width: 480px){
    .wrapper{
        grid-template-columns: 1fr;
        gap: 5px;
    }
}