body{
    margin: 0;
}

nav{
    background-color: rgb(42, 40, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.right-nav > i{
    display: none;
}

@media(max-width: 480px){
    .right-nav > h4{
        display: none;
    }
    .right-nav > i{
        display: block;
    }
}